@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=MedievalSharp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Germania+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap'); /* New font for buttons */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Source+Sans+Pro:wght@400;600&display=swap');

.background-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 160%;
  z-index: -1; /* Ensure it's behind other content */
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  background-size: cover; /* Ensure the image covers the entire container */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
}



/* General body styling */
body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  color: #2d3748;
  height: 100vh;
  overflow-y: auto !important;
  transition: background-color 2s ease, color 2s ease; /* Add this line */
}

.fade-transition {
  transition: background-color 2s ease, color 2s ease;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -2; /* Even further back than other elements */
}

html, body {
  height: 100%; /* Ensures body takes up full height for calculation */
  overflow-x: hidden; /* Prevent horizontal scrolling */
  margin: 0;
  padding: 0;
}

h2 {
  margin-top: 0;
  font-size: 1.6em;
  font-weight: bold;


}

h3 {

  margin-top: 0;
  font-size: 1.4em;
  font-weight: bold;
  margin-bottom: 8px;
    font-family: "MedievalSharp", cursive;

}

h4 {
  margin-top: 0;
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 8px;
  color: darkred;
  }

  h5 {

  margin-top: 0;
    font-family: "MedievalSharp", cursive;
  font-size: 1.4em;
  font-weight: bold;
  margin-bottom: 8px;
  color: red;
  text-transform: uppercase;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4px;
  min-height: 100vh;
  width: 100%; /* Ensure the container takes full width */

}


/* Title and Subtitle Styling */
.title-container {
  display: flex;
  align-items: baseline;
  justify-content: center;
  margin-bottom: -16px;
}

/* Title Styling */

.title {
  font-family: 'Playfair Display', serif;
  font-size: 1.4rem; 
  font-weight: 700;
  letter-spacing: 0.04rem;
  text-align: center;
  margin: 0;
  padding: 12px 0 1px;
  margin-right: 0.5rem;
  text-transform: none; 
  position: relative;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  color: darkslategray;

  /* Transition for smooth gradient change */
  transition: background 1s ease, color 1s ease;
}

.title::after {
  content: '';
  display: block;
  width: 120px;
  height: 2px;
  background-color: #e0d5b8;
  margin: 0px auto 0;
  border-radius: 2px;
   margin-bottom: -1px;
}

/* Hover effect for title: more vibrant gradient */
.subtitle:hover {
  background: linear-gradient(to right, #ff7e5f, #feb47b, #f6d365); /* Orange to yellow gradient */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background 1.5s ease; /* Smooth slow transition */
}

/* Subtitle Styling */
.subtitle {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.22rem;
  font-weight: 500;
  text-align: center;
  margin: 10px 0 20px;
  background: linear-gradient(to right, #6b3e9c, #c02a8c, #2f80ed);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* Transition for smooth gradient change */
  transition: background 1s ease, color 2s ease;

}


/* Hover effect on underline */
.title:hover::after {
  width: 137px;
  background-color: gold;
  transition: width 0.8s ease, background-color 0.8s ease;
}


.description-container {
padding: 2px;

  text-align: center;

}

.description {
  font-size: 1.04rem;
  font-style: italic;
  color: #718096; /* Tailwind gray-600 */
  margin: 0;
    margin-bottom: -1px;
      margin-top: -1px;
}

h2 {
  font-size: 1.4rem;
  margin-bottom: 15px;
}

/* Main content layout */
.main-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1280px;
  overflow-y: auto
}

body:not(.dark-mode) .history-agent {
  width: 70%;
  padding: 15px;
  background: rgba(70, 30, 00, 0.04);
    background-color: rgba(255, 255, 255, 0.7); /* 50% white transparency */
  border-radius: 12px;
  box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.25);
  border: 2px solid #e0d5b8; /* Subtle border */
   margin-bottom: 25px;
  height: auto; /* Allow the container to adjust its height based on contents */
  overflow: visible;
}

.interaction-section {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 12px;
  padding:18px;
  margin-top: -18px;
  overflow: visible;
}



.output-box {
  background-color: #ffffff ; /* Light gray */
  padding: 10px;
  padding-top: 7px;
  border-radius: 12px;
  margin-top: 2px;
  max-height: 1000px;
  margin-bottom: 10px;
    border: 1px solid #e0d5b8; /* Subtle border */
     box-shadow: 0 3px 5px rgba(0,0,0,0.1);
  padding: 22px;
}

.output-box p {
  line-height: 1.45;  /* Reduce line height for manual breaks */
  font-size: 1.20rem;
}
.output-box li {
    font-size: 1.15rem;
    margin-left: 15px;
    font-weight: 700;

}



.output-box br {
  line-height: 0.5;  /* Reduce line height for manual breaks */
}

.footer {
  background-color: rgba(255, 255, 255, 0.55); /* 50% white transparency */
  border-radius: 50px; /* Creates the rounded tablet/oval shape */
  padding: 10px 30px; /* Add padding for spacing inside the footer */
  text-align: center; /* Center align the text */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow effect */
  width: fit-content; /* Makes the width fit the content inside */
  margin: 1px auto; /* Center the footer horizontally and add space from the bottom */
  margin-bottom:400px;
}

.footer p {
  
  line-height: 1.5rem; /* Add appropriate line height for readability */
  color: black; /* Dark text color for contrast */
font-size: 22px; /* Adjust the font size */
 
}


.button-container {
  display: flex;
  justify-content: space-between; /* Push buttons to opposite ends */
  align-items: center; /* Vertically center buttons */
  margin-bottom: 25px; /* Add space below the button container */
}

.button-container button {
  margin: 0 10px; /* Ensure there's at least 20px gap on both sides */
  margin-top: 10px;
}


.bottom-buttons {
  display: flex;
  justify-content: space-between;
  align-items: top;

 overflow: visible;
margin-left: 0px;
}

.quest-buttons-container
{
  position: relative;
  padding: 2px;

}

.save-game-button {
  background-color: teal; /* Green background */
  border: none; /* Remove default border */
  color: white; /* White text */
  padding: 5px 8px; /* Add padding */
  text-align: center; /* Center text */
  text-decoration: none; /* Remove underline on text */
  display: inline-block; /* Keep the buttons inline */
  
  margin: 10px;
  cursor: pointer; /* Add a pointer on hover */
  border-radius: 8px; /* Add rounded corners */
  transition: background-color 0.3s ease; /* Smooth transition on hover */
    font-size: .75rem;
    position: relative;
  top: -10px; 
}

.load-game-button {
  background-color:  saddlebrown ; /* Green background */
  border: none; /* Remove default border */
  color: white; /* White text */
  padding: 5px 8px; /* Add padding */
  text-align: center; /* Center text */
  text-decoration: none; /* Remove underline on text */
  display: inline-block; /* Keep the buttons inline */
 
  margin: 10px; /* Add some margin between buttons */
  cursor: pointer; /* Add a pointer on hover */
  border-radius: 8px; /* Add rounded corners */
  transition: background-color 0.3s ease; /* Smooth transition on hover */
    font-size: .75rem;
     position: relative;
  top: -10px; 
}

.save-game-button:hover {
  background-color:  #009688; /* Darker green on hover */
}

 .load-game-button:hover {
  background-color: firebrick; /* Darker green on hover */
}


.pdf-links {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-in-out;
}

.pdf-links.show {
  max-height: 320px; /* Adjust based on content height */
  transition: max-height 0.5s ease-in-out;
   overflow-y: auto; 
}

.pdf-link-button {
  padding: 8px;
  background-color: #d0d0d0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}

.pdf-link-button:hover {
  background-color: whitesmoke;

}

.command-button.primary-sources-button {
  margin: 7px 0;
  padding: 8px;
  margin-left: 2px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 5px;
  margin-top: 2px;
}

.command-button.primary-sources-button:hover {
  background-color: #0056b3;
    transform: translateY(-1px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}


.pdf-link-button {
  background: linear-gradient(145deg, rgba(245, 245, 245, 0.7), rgba(224, 224, 224, 0.8)); /* 50% translucent background */
  border: 1px solid #ccc;
  color: #333; /* Slightly darker text for readability */
  text-decoration: none; /* Remove underline to make it more like a button */
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 2px; /* Add margin to separate the buttons */
  border-radius: 6px; /* More rounded corners */
  padding: 7px 10px; /* Increased padding for a more clickable feel */
  font-size: 0.9em;
  font-weight: bold; /* Make the text bold for emphasis */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Soft shadow for a raised effect */
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transitions */
}

.pdf-link-button:hover {
  background-color: #d0d0d0; /* Darker on hover for visual feedback */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Stronger shadow on hover */
  transform: translateY(-2px);
}

.pdf-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 6px; 
  padding-top: 12px; /* Space above buttons */
  font-size: 1rem;

}


/* Tip Box */

  .tip-box {
    padding-bottom: 0px;
  }


/* Command Button Styling */

.command-buttons {
  display: flex;
  justify-content: space-around;
  width: 55%;
 overflow: auto;
  transition: background-color 3s ease, color 3s ease;

}

.command-button {
  padding: 2px 10px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  background: linear-gradient(45deg, #00c6ff, #0072ff); /* Example gradient */
  color: white;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.45);
  border-radius: 8px;
  margin: 1px 4px; /* Ensure there's space between the buttons */
  box-shadow: 1px 3px 7px rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
  margin-top: 5px;
  transition: background-color 3s ease, color 3s ease;
  font-size: .85rem;
  
  /* Enable text wrapping */
  word-wrap: break-word;
  hyphens: auto;
  white-space: normal;
  text-align: center; /* Ensure text is centered */
  overflow: hidden;
  width: auto; /* Ensure button resizes */
}

/* Handle hyphenation specifically */
.command-button {
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
}

.dream-button {
  background: white;
  color: #3b3b3b; /* Dark gray text */
  padding: 5px 5px;
  font-size: 1.0rem;
  font-weight: bold;
  border-radius: 8px; /* Adjusted border radius */
  font-family: "MedievalSharp", cursive;
  margin: 5px;
  cursor: pointer;
  border: 2px solid;
  border-image: linear-gradient(45deg, #00b4db, #0083b0) 1; /* Blue gradient border */
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2); /* Slightly larger shadow */
  transition: background-color 0.4s ease, color 0.4s ease;
  text-shadow: none; /* Ensure no text shadow */
}

.dream-button:hover {
  background-color: #eaeaea; /* Light gray hover */
  color: #1c1c1c; /* Dark gray text on hover */
  border-color: #4b0082; /* Indigo border on hover */
  text-shadow: none; /* Override text shadow on hover as well */
}

.dream-link:hover {
  color: #0b5394; /* Darker blue on hover */
  text-decoration: underline solid; /* Solid underline on hover */
}




/* Bold and dotted underline for NPC or inventory items with PDFs */
.dream-link {
  font-weight: bold;
  cursor: pointer;
  color: #0083b0; /* Blue color for the text (optional, can be changed) */
  display: inline-flex;
  align-items: center;
}



/* General Hover Effect */
.command-button:hover {
  transform: scale(1.02); /* Slight lift and scale on hover */
}

/* Prescribe Button */
.command-button.prescribe-button {
  background: linear-gradient(30deg, #e57272, #005bb5); /* Original gradient */
  box-shadow: 1px 3px 7px rgba(0, 0, 0, 0.1);
}

.command-button.prescribe-button:hover {
  background: linear-gradient(30deg, #d94f5f, #0066cc); /* Slightly lighter ruby and more vibrant sapphire */
  box-shadow: 0 3px 3px rgba(217, 79, 95, 0.5), 0 0 8px rgba(0, 102, 204, 0.6), 0 0 6px rgba(255, 105, 180, 0.3) inset; /* Iridescent Ruby and Sapphire glow */
}

/* Symptoms Button */
.command-button.symptoms-button {
  background: linear-gradient(200deg, #d94f5f, #d98b8b); /* Original gradient */
}

.command-button.symptoms-button:hover {
  background: linear-gradient(45deg, #d94f5f, #c67c7c); /* Shift to brighter, more iridescent tones */
  box-shadow: 0 3px 3px rgba(217, 79, 95, 0.7), 0 0 8px rgba(198, 124, 124, 0.9), 0 0 6px rgba(255, 140, 140, 0.3) inset; /* Ruby glow with internal light */
}

/* Diagnose Button */
.command-button.diagnose-button {
  background: linear-gradient(90deg, #e6b800, #cc8400); /* Original gradient */
}

.command-button.diagnose-button:hover {
  background: linear-gradient(45deg, #d6a500, #b37a00); /* More golden with a hint of iridescent depth */
  box-shadow: 0 3px 5px rgba(198, 165, 0, 0.5), 0 0 8px rgba(179, 122, 0, 0.8), 0 2px 10px rgba(255, 223, 0, 0.3) inset; /* Golden amber glow with internal shimmer */

}

/* Buy Button */
.command-button.buy-button {
  background: linear-gradient(30deg, #cc9400, #d98b8b); /* Original gradient */
}

.command-button.buy-button:hover {
  background: linear-gradient(30deg, #c17a00, #cc7474); /* More intense golden and ruby with a reflective quality */
  box-shadow: 0 3px 3px rgba(193, 122, 0, 0.5), 0 0 8px rgba(204, 116, 116, 0.7), 0 0 10px rgba(255, 165, 0, 0.3) inset; /* Iridescent gold and ruby glow */
}

.command-button.forage-button {
  background: linear-gradient(30deg, #cc9400, #d98b8b); /* Original gradient */
}

.command-button.forage-button:hover {
  background: linear-gradient(30deg, #c17a00, #cc7474); /* More intense golden and ruby with a reflective quality */
  box-shadow: 0 3px 3px rgba(193, 122, 0, 0.5), 0 0 8px rgba(204, 116, 116, 0.7), 0 0 10px rgba(255, 165, 0, 0.3) inset; /* Iridescent gold and ruby glow */
}

/* Popup Box Styling */

.portrait-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  z-index: 1000;
  text-align: center;
}




.portrait-popup {
  width: 90%;
  max-width: 600px;
  max-height: 90vh; /* Limit height to viewport height */
  overflow-y: auto; /* Enable vertical scrolling if needed */
}

.popup-portrait-image {
  width: 100%;
  max-width: 500px;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  margin: 30px auto 10px;

}

.popup-info {
  font-size: 0.9rem;
  color: #2d3748; /* Darker text color */
  text-align: left;
  margin-top: 10px;
}



/* General Button Styling */
button {
  padding: 6px 20px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
   font-family: 'Quicksand', sans-serif;
  color: white;
  background-color: #4a5568;
  transition: all 0.3s ease;
   box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
}

button:hover {
  background-color: #2d3748;
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Add white glow effect to emojis */
button .emoji {
  font-size: 1.15rem; /* Increase emoji size */
  margin-right: 10px; /* Add extra space between the emoji and text */
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.7); /* White glow effect */
  transition: text-shadow 0.3s ease, font-size 0.3s ease; /* Smooth transition */
}

button:hover .emoji {
  text-shadow: 0px 5px 12px rgba(255, 255, 255, 1); /* Stronger glow on hover */

}

/* End Game Button Styling */
.end-game-button {
  background-color: #e53e3e; /* Red background */
  box-shadow: 0 0 15px rgba(229, 62, 62, 0.75); /* Red glow effect */
  transition: box-shadow 0.3s ease, transform 0.3s ease;
   box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
}

.end-game-button:hover {
  background-color: #c53030; /* Darker red on hover */
  transform: scale(1.05); /* Slight scale-up on hover */
  box-shadow: 0 0 30px rgba(255, 99, 71, 0.85); /* Enhanced glow on hover */
  transform: translateY(-2px);

}

/* Open Commonplace Book Button Styling */
.open-commonplace-book-button {
  background-image: url('./assets/book.jpeg');
  background-position: center; /* Center the image */
  color: white; /* Ensure text is visible */
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  font-family: 'Quicksand', sans-serif; /* New button font */
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Add a slight text shadow for better readability */
  background-repeat: no-repeat; /* Prevent the background from repeating */
}

.open-commonplace-book-button:hover {
  transform: scale(1.02); /* Slight scale-up on hover */
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3); /* Subtle shadow on hover */
}




.view-counter-button {
    background: linear-gradient(45deg, #8e44ad, #c0392b, #d35400) ; /* Gradient from purple to pink */
    color: #fff;
     margin-right: 5px; /* Add some space from the right edge */
  padding: 12px;
    border: none;
    border-radius: 12px; /* Slightly rounded corners for a gem-like appearance */
    cursor: pointer;
   float: right;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.6); /* Subtle shadow for text */
    box-shadow: 0 4px 15px rgba(231, 76, 60, 0.4), 0 0 15px rgba(231, 76, 60, 0.5) inset; /* Outer and inner glow in warm tones */
    transition: background 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease; /* Smooth transitions */
}

.view-counter-button:hover {
    background: linear-gradient(45deg, #9b59b6, #e91e63, #c0392b); /* Darker gradient on hover */
    box-shadow: 0 6px 20px rgba(192, 57, 43, 0.5), 0 0 20px rgba(192, 57, 43, 0.5) inset; /* Intensified glow on hover */
    transform: translateY(-2px) scale(1.02); /* Slight lift and scale on hover */
}


.open-commonplace-book-button:hover {
  transform: scale(1.02); /* Slight scale-up on hover */
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3); /* Subtle shadow on hover */
}

/* Special Styling for Mix Drugs Button */
.mix-drugs-button {
  background-color: #d97706; /* Amber color */
  box-shadow: 0 0 15px rgba(217, 119, 6, 0.75); /* Amber glow effect */
  transition: box-shadow 0.3s ease, transform 0.3s ease;
   box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
}

.mix-drugs-button:hover {
  background-color: rgba(201, 91, 0, 0.85); /* Darker amber on hover */
  transform: scale(1.02); /* Slight scale-up on hover */
  box-shadow: 0 0 30px rgba(255, 138, 0, 0.85); /* Enhanced glow on hover */
  transform: translateY(-2px);
}

/* Green Glow Animation for Submit Field */
@keyframes greenGlow {
  0% {
    box-shadow: 0 0 2px rgba(0, 255, 0, 0.1);
  }
  50% {
    box-shadow: 0 0 6px rgba(0, 255, 0, 1);
  }
  100% {
    box-shadow: 0 0 3px rgba(0, 255, 0, 0.9);
  }
}






/* CritiqueAgent container styling */
.critique-agent-container {
  width: 100%;
  max-width: 1000px;
  margin-top: 8px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  padding: 30px;
}

.critique-agent-container h2 {
  font-size: 1.6rem;
  margin-bottom: 15px;
}

.critique-agent-container .output-box {
  background-color: seashell;
  padding: 20px;
  font-size: 1.15rem;
  border-radius: 8px;
  margin-bottom: 10px;
  max-height: 400px;
  overflow-y: auto;
}

/* Journal Pane Styling */




.container .journal-pane.open {
  right: 0 !important; /* Ensures that this rule is applied */
}

.inventory-item {
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e2e8f0; /* Gray-200 */
}



/* Loading Indicator */
.loading-dots span {
  display: inline-block;
  font-size: 3rem;
  animation: blink 1s infinite both;
}

.loading-dots span:nth-child(2) {
  animation-delay: 0.2s;
}

.loading-dots span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes blink {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

/* Date/Time/Location and Map Counter information */
.counter-and-map {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Vertically aligns the .counter within this container */
  padding: 2px 0;
  margin-top: -8px;

}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: black;
  font-weight: 700;
  letter-spacing: 0.04rem;
  text-transform: uppercase;
  padding: 3px 8px;
  border-radius: 40px;
  background-color: #f8f8f8;
  border: 1px solid #e0d5b8;
  text-align: center;
  opacity: .6; 
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.10);
    margin-bottom: 2px;


}

/* Target the p element inside the .counter specifically */
.counter p {
  margin: 0; /* Remove any default margins */
  line-height: 1.2; /* Adjust line height to make the text fit better */
  padding: 8px; /* Make sure there's no extra padding on the text */
  display: inline-block; /* Ensure it’s treated as inline for centering */
  background-color: #fff;
   border-radius: 40px;
   
}


/* Map Button */
.command-button.map-button {
  background: linear-gradient(145deg, #20b2aa, #0066cc); /* Turquoise to dark cyan gradient */
  color: #ffffff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 
    0 4px 6px rgba(0, 0, 0, 0.2),
    0 0 10px rgba(32, 178, 170, 0.5) inset,
    0 0 20px rgba(0, 139, 139, 0.3) inset;
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: all 0.3s ease;
  margin-left: 5px;
  padding: 2px 10px;
  font-size: .9rem;
  margin-top: 0px;
    margin-bottom: 12px;
       box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
}

.command-button.map-button:hover {
  background: linear-gradient(145deg, #5f9ea0, #20b2aa); /* Slightly lighter gradient on hover */
   transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}


.simulation-history-button {
  background: linear-gradient(145deg, #9370DB, #4682B4); /* Soft purple to light blue gradient */
  color: #ffffff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 
    0 4px 6px rgba(0, 0, 0, 0.2),
    0 0 10px rgba(147, 112, 219, 0.5) inset, /* Soft purple shadow */
    0 0 20px rgba(70, 130, 180, 0.4) inset; /* Light blue shadow */
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: all 0.3s ease;
  font-size: .9rem;
  font-weight: bold;
  margin-left: 5px;
  padding: 2px 10px;
  margin-top: 0px;
  margin-bottom: 2px;
  margin-right: 6px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25); /* Similar to map button */
}

.simulation-history-button:hover {
  background: linear-gradient(145deg, #BA55D3, #87CEFA); /* Lighter purple to sky blue on hover */
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}



/* Hamburger Icon */
.hamburger-icon {
    cursor: pointer;
    position: fixed;
    top: 10px; /* Adjust this value to create more space between the header and the icon */
    left: 10px; /* Keep some space from the left edge */
    z-index: 2000; /* Ensure it appears above other elements */
    width: 30px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px; /* Add padding around the icon */
    background-color: rgba(255, 255, 255, 0.8); /* Optional: Add a background color with transparency */
    border-radius: 5px; /* Optional: Add some border-radius to match the design aesthetic */
    
           box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.45);
}

.hamburger-icon span {
    display: block;
    height: 3px;
    background-color: #333;
    border-radius: 3px;
    transition: all 0.3s ease;

}



.hamburger-icon.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

/* Menu Pane */
.menu-pane {
    position: fixed;
    top: 60px;
    left: -300px; /* Initially hidden off-screen */
    width: 250px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    color: #fff;
    z-index: 2000;
    transition: left 0.3s ease;
}

.menu-pane.open {
    left: 20px; /* Slide into view */
}

.menu-pane ul {
    list-style: none;
    padding: 0;
}

.menu-pane ul li {
    margin: 15px 0;
}

.menu-pane ul li a,
.menu-pane ul li button {
    color: #fff;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: color 0.3s ease;
}

.menu-pane ul li a:hover,
.menu-pane ul li button:hover {
    color: #ffbf00; /* Stylish hover color */
}


/* Dark Mode Styling */
body.dark-mode {
  background-color: #1a202c; /* Tailwind's Gray-900 */
  color: #e2e8f0; /* Light gray text */
  transition: background-color 0.5s ease, color 0.5s ease; /* Smooth transitions */
}

.fade-transition.dark-mode {
  transition: background-color 2s ease, color 2s ease;
}

body.dark-mode .output-box {
  background-color: #2d3748; /* Darker background for dark mode */
  color: #e2e8f0; /* Lighter text color */
  padding: 15px; /* Add padding for more space */
  border-radius: 10px; /* Smoother corners */
  margin-top: 10px;
  margin-bottom: 10px;
  max-height: 70vh; /* Ensure it doesn’t overflow vertically */
  overflow-y: auto; /* Enable scrolling */
  font-size: 1.1rem; /* Slightly bigger font for better readability */
  line-height: 1.6; /* Increase line height for clarity */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5); /* Stronger shadow */
  border: 1px solid #4a5568; /* Subtle border for dark mode */
}
body.dark-mode .background-container {
  display: none; /* Completely hide the background container in dark mode */
}


/* History Content Section */
body.dark-mode .history-content {
  background-color: #2d3748; /* Darker background to match dark mode */
  color: #e2e8f0; /* Lighter text for better contrast */
  padding: 10px;
  border-radius: 8px;
  font-size: 1.1rem;
  line-height: 1.6;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5); /* Shadow to elevate the content */
}

/* Paragraphs inside history-content for dark mode */
body.dark-mode .history-content p {
  color: #e2e8f0;
  font-size: 1.2rem;
  line-height: 1.7;
  margin-bottom: 12px;
}

h1.dark-mode, h2.dark-mode, h3.dark-mode, h4.dark-mode, h5.dark-mode {
  color: #e2e8f0; /* Ensure heading texts are readable in dark mode */
}

body.dark-mode .title, 
body.dark-mode .subtitle {
  background: linear-gradient(45deg, #4A90E2, #00c6ff); /* Adjusted gradient for better contrast */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container.dark-mode {
  background-color: #1a202c;
}

.main-content.dark-mode, 
.interaction-section.dark-mode {
  background-color: #2d3748; /* Tailwind's Gray-800 */
  color: #e2e8f0; /* Light gray text */
  border-color: #4a5568; /* Subtle darker border */
}

body.dark-mode .history-agent {
  width: 70%;
  padding: 15px;
  background-color: rgba(45, 55, 72, 0.8); /* Dark background with 80% opacity */
  border-radius: 12px;
  box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.5); /* Stronger shadow for dark mode */
  border: 2px solid #4a5568; /* Dark gray border */
  color: #e2e8f0; /* Light text color for readability */
  margin-bottom: 10px;
  height: auto; /* Allow the container to adjust its height based on contents */
  overflow: visible;
}

.output-box.dark-mode {
  background-color: #4a5568; /* Tailwind's Gray-700 */
  color: #e2e8f0;
  border: 1px solid #4a5568; /* Subtle border for dark mode */
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5); /* Stronger shadow for dark mode */
}

.output-box.dark-mode p {
  color: #e2e8f0;
}

button.dark-mode,
.pdf-link-button.dark-mode,
.command-button.dark-mode {
  background: linear-gradient(45deg, #0072ff, #00c6ff); /* Blue gradient for dark mode */
  color: #1a202c; /* Dark gray text color */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5); /* Shadow for buttons */
}

button.dark-mode:hover,
.command-button.dark-mode:hover {
  background: linear-gradient(45deg, #005bb5, #00c6ff); /* Darker hover effect */
}

.button-container.dark-mode {
  background-color: #2d3748; /* Darker button container */
}

.bottom-buttons.dark-mode {
  background-color: #2d3748;
}

/* PDF link button styling */
.pdf-link-button.dark-mode {
  background: linear-gradient(145deg, rgba(45, 55, 72, 0.8), rgba(74, 85, 104, 0.8)); /* Darker background */
  color: #e2e8f0;
  border: 1px solid #4a5568;
}

.pdf-link-button.dark-mode:hover {
  background: linear-gradient(145deg, rgba(45, 55, 72, 0.9), rgba(74, 85, 104, 0.9)); /* Brighter on hover */
}

/* Command buttons dark mode */
.command-button.dark-mode.prescribe-button {
  background: linear-gradient(30deg, #005bb5, #e57272); /* Adjusted gradient */
}

.command-button.dark-mode.symptoms-button {
  background: linear-gradient(200deg, #b794f4, #805ad5); /* Adjusted gradient */
}

.command-button.dark-mode.diagnose-button {
  background: linear-gradient(90deg, #ecc94b, #d69e2e); /* Adjusted gradient */
}

.command-button.dark-mode.buy-button {
  background: linear-gradient(30deg, #68d391, #48bb78); /* Adjusted gradient */
}

/* Title and subtitle dark mode */
.title-container.dark-mode .title,
.title-container.dark-mode .subtitle {
  background: linear-gradient(45deg, #4A90E2, #00c6ff); /* Gradient for dark mode */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    color: floralwhite;

}

.title.dark-mode {
  font-family: 'Playfair Display', serif;
  font-size: 1.4rem; 
  font-weight: 700;
  letter-spacing: 0.04rem;
  text-align: center;
  margin: 0;
  padding: 12px 0 1px;
  margin-right: 0.5rem;
  text-transform: none; 
  position: relative;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  color: floralwhite;
}

/* Dark mode for descriptions */
.description.dark-mode {
  color: #a0aec0; /* Light gray for descriptions */
}

/* Popup Dark Mode */
.portrait-popup.dark-mode, 
.portrait-section.dark-mode {
  background-color: #2d3748;
  color: #e2e8f0;
}

.portrait-caption.dark-mode {
  color: #a0aec0; /* Tailwind's Gray-500 */
}

.popup-info.dark-mode {
  color: #e2e8f0;
}

.portrait-popup.dark-mode .popup-info p {
  color: #cbd5e0; /* Slightly lighter text in popups */
}

.portrait-popup.dark-mode .popup-portrait-image {
  box-shadow: 0px 4px 20px rgba(255, 255, 255, 0.1); /* Subtle white glow */
  border: 1px solid #4a5568; /* Subtle border */
}

/* Footer in dark mode */
.footer.dark-mode {
  background-color: #1a202c;
  color: #e2e8f0;
  border-top: 1px solid #4a5568;
}




@media (max-width: 768px) {

  .command-button.map-button {
  
  font-size: .7rem;
}



.simulation-history-button {
  
  font-size: .7rem;
 
  margin-top: -4px;
 
}


.title-container {
    display: flex;
    flex-direction: row; /* Stack title and subtitle vertically */
    align-items: center; /* Center-align */
    justify-content: center;
    margin-bottom: -10px; /* Less margin for tighter spacing */
  }

.output-box p {
  line-height: 1.35;  /* Reduce line height for manual breaks */
  font-size: .9rem;
}
.output-box li {
    font-size: .8rem;
    margin-left: 15px;
    font-weight: 700;

}
  /* Title styling for smaller screens */
  .title {
    font-size: 1.01rem !important; /* Slightly larger but still compact */
    letter-spacing: 0.010rem; /* Subtle letter spacing */
    margin-bottom: 0.01rem; /* Reduce spacing */
    margin-right: 3px; /* No margin to conserve space */
    font-weight: 700; /* Keep boldness */
    color: #2c3e50; /* Same color for consistency */
  }
  .title::after {
  content: '';
  display: block;
  width: 0px;
  height: 2px;
  background-color: #e0d5b8;
  margin: 3px auto 0;
  border-radius: 2px;
  margin-right: 5px;
}

.background-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 190%;
  z-index: -1; /* Ensure it's behind other content */
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));

}

/* Add white glow effect to emojis */
button .emoji {
  font-size: .8rem; /* Increase emoji size */
  margin-right: 3px; /* Add extra space between the emoji and text */
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.7); /* White glow effect */
  transition: text-shadow 0.3s ease, font-size 0.3s ease; /* Smooth transition */
}



  /* Subtitle styling for smaller screens */
  .subtitle {
     font-size: .9rem !important;
    letter-spacing: 0.015rem; /* Subtle letter spacing */
    margin-bottom: 0.01rem; /* Reduce spacing */
    font-weight: 700; /* Keep boldness */
    color: #2c3e50; /* Same color for consistency */
  }

.description-container {
padding: 3px;
  text-align: center;
}

.description {
  font-size: .6rem !important;
  font-style: italic;
  color: #718096; /* Tailwind gray-600 */
  margin: 0;

}

 .main-content {
    display: flex; /* Use flexbox */
    flex-direction: row; /* Ensure that the sections are placed in a row */
    justify-content: space-between; /* Space the elements */
    width: 100%;
    padding: 8px;
  }

  .history-agent {
    width: 80% !important; /* Take 80% of the width */
    padding: 6px;

    border-radius: 8px;
    box-shadow: 1px 3px 7px rgba(0, 0, 0, 0.26);
    margin-bottom: 10px;
    margin-top: -10px;
      background-color: white;
  }

  .interaction-section {
    width: 22% !important; /* Take 20% of the width */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;
    padding: 2px;
    margin-top: -10px;
  }


  .command-buttons {
    flex-direction: row; /* Stack buttons horizontally */
    align-items: stretch; /* Ensure the buttons take the full width */
    width: 100%;
  }

.history-content {
      background-color: white;
} 



  .output-box {
    
    padding: 10px; /* Adjust padding */
    border-radius: 8px;
    margin-top: 10px; /* Adjust margin to reduce white space */
    margin-bottom: 10px; /* Adjust bottom margin */
    max-height: 70vh; /* Increase max-height to show more content */
    overflow-y: auto;
      background-color: white;
  }

  .command-buttons {
    flex-direction: row; /* Stack buttons vertically on smaller screens */
    align-items: stretch; /* Ensure the buttons take the full width */
    width: 100%;
  }

  button, 
  .command-button,
  .submit-button,
  .view-journal-button,
  .custom-journal-entry-button,
  .view-inventory-button,
  .content-guide-button,
  .commonplace-book-button
  .mix-drugs-button {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: .60rem;
    padding-left: 2px;
    padding-right: 2px
  }

  
 .input, textarea, select {
    font-size: 17px; /* Ensure minimum font size of 16px to prevent zoom */
  }

  .tip-box {
    display: none; /* Hide the TipBox on mobile screens */
  }

.title-container {
  margin-top: 1rem;
  text-align: center;
 
}

/* Journal and Inventory Pane Styling */
.journal-pane,
.inventory-pane,
.simulation-history-pane {
  position: fixed;
  right: -151px;
  top: 0;
  width: 150px;
  height: 100%;
  opacity: 95%;
  background-color: #FAF9F6; /* Light gray background */
  border-left: 1px solid #e2e8f0; /* Gray-200 */
  transition: right 0.4s ease-in-out;
  z-index: 100;
  padding: 20px;
 
  overflow-y: auto;
  font-size: .8rem;
}


.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: black;
  font-weight: 700;
  letter-spacing: 0.04rem;
  text-transform: uppercase;
  padding: 1px 6px;
  border-radius: 40px;
  background-color: #f8f8f8;
  border: 1px solid #e0d5b8;
  text-align: center;
  opacity: .6; 
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.10);
    margin-bottom: 2px;


}

/* Target the p element inside the .counter specifically */
.counter p {
  margin: 0; /* Remove any default margins */
  line-height: 1.1; /* Adjust line height to make the text fit better */
  padding: 2px; /* Make sure there's no extra padding on the text */
  display: inline-block; /* Ensure it’s treated as inline for centering */
  background-color: #fff;
   border-radius: 1px;
   
}


   .container {
    padding: 1px;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }



  .portrait-section {
    flex-direction: row; /* Stack portraits vertically */
    align-items: center; /* Center-align on mobile */
    text-align: center; /* Center-align text on mobile */
    margin-bottom: -16px;
    margin-top: -5px;
  }
  p.portrait-caption {
        font-size: 0.6rem;
  }

  .popup-info {
    font-size: 0.85rem; /* Slightly smaller text for better readability on small screens */
  }

  .close-button {
    font-size: 0.8rem; /* Adjust close button size on smaller screens */
  }

  .history-entry {
    margin-bottom: 10px;
    
  }


   .output-box {

    padding: 6px; /* Reduce padding */
    border-radius: 8px;
    margin-top: -6px; /* Adjust margin to reduce white space */
    margin-bottom: 5px; /* Reduce bottom margin */
    max-height: 70vh; /* Increase max-height to show more content */
    overflow-y: auto;
    font-size: .9rem; /* Keep font size manageable */

  }

   .main-content, .interaction-section {
    width: 100%;
    padding: 8px;
  }



  .bottom-buttons {
    flex-direction: row; /* Stack buttons vertically on smaller screens */
    align-items: stretch; /* Ensure the buttons take the full width */
     width: 100%;
     padding: 2px;
  }

  .command-buttons {
    flex-direction: column; /* Stack command buttons vertically */
    align-items: stretch; /* Ensure the buttons take the full width */
  }



  .command-button {
    
    margin-bottom: 10px; /* Add space between stacked buttons */
  }

  .simulation-history.open {
    left: 0; /* Slide in from the left when open */

  } 
  

  .portrait-section {
    flex-direction: row; /* Ensure the portraits are in a row */
    justify-content: center;
    align-items: center;
    text-align: center; /* Center align the portraits */
  }

  .npc-portrait-image,
  .pc-portrait-image {
    width: 170px; /* Adjust portrait size for mobile */
    height: 80px;
    margin: 5px;
  }

   

  .title {
    font-size: .9rem; /* Make the title and subtitle smaller */
  justify-content: center;
    letter-spacing: 0.0rem;
  padding-bottom: 0px;
  padding-left: 20px;
    letter-spacing: -.05rem;
  }

  .subtitle {
    font-size: .9rem; /* Make the title and subtitle smaller */
  justify-content: center;
    letter-spacing: -.03rem;
  padding-bottom: 3px;
  }

  .description {
    font-size: 0.6rem; /* Make the description font smaller */
  text-align: center;
  padding-left: 30px;
  padding-right: 24px;
  }

  /* Adjusting the Mix Panel */
  .mix-panel-container {
    width: 100%; /* Make sure the mix panel takes full width */
    padding: 4px; /* Adjust padding for better fit */
  }

  .mix-panel .mix-options {
    display: flex;
    flex-wrap: wrap; /* Make the options wrap to fit smaller screens */
   
  }

  .mix-panel button {
    font-size: 0.8rem; /* Make buttons slightly smaller */
    padding: 5px; /* Adjust padding for buttons */
  }

  .mix-drugs-button {
    font-size: .7rem; /* Slightly reduce the size of the Mix Drug button */
  }

  .commonplace-book-container {
    width: 100%; /* Ensure full width */
    height: auto; /* Allow height to adjust */
  }

  .commonplace-book-controls {
    display: flex;
    flex-direction: column; /* Stack controls vertically */
    align-items: center; /* Center align controls */
  }

  .commonplace-book-controls button {
    margin: 5px 0; /* Space buttons out vertically */
  }



.footer {
  background-color: rgba(255, 255, 255, 0.5); /* 50% white transparency */
  border-radius: 50px; /* Creates the rounded tablet/oval shape */
  padding: 10px 30px; /* Add padding for spacing inside the footer */
  text-align: center; /* Center align the text */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
  width: fit-content; /* Makes the width fit the content inside */
  margin: 1px auto; /* Center the footer horizontally and add space from the bottom */
  margin-bottom:100px;
}


.footer p {
  font-size: 14px; /* Adjust the font size */
  line-height: 1.5rem; /* Add appropriate line height for readability */
  color: #333; /* Dark text color for contrast */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* Subtle shadow effect for text */
}






    .hamburger-icon {
        top: 10px; /* Increase this value to ensure the icon doesn't overlap with the header */
        left: 10px; /* Adjust this value to ensure proper spacing on smaller screens */
        padding: 10px; /* Keep enough padding to prevent overlap */
        width: 8px;
    height: 1px;
    }

   
}

