.content-guide-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75); /* Off-white background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow-y: auto;
  padding: 20px;
}

.content-guide-content {
  background-color: floralwhite;
  padding: 30px;
  max-width: 800px;
  max-height: 92%;
  overflow-y: auto;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(1, 1, 2, 4);
}

.content-guide-content p img {
  display: block;
  margin: 0 auto;
  max-width: 50%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.content-guide-content p img + em {
  display: block;
  text-align: center;
  font-size: 1rem;
  color: #666666;
  margin-bottom: 20px;
}

.content-guide-content h1{
  font-family: "MedievalSharp", cursive; 
  font-size: 1.8rem; /* Increased font size */
    line-height: 1.2;
  color: #2c2c2c;
  margin-bottom: 12px;
   font-size: 2.2rem;
}

.content-guide-content h2 {
  font-family: 'IM Fell English', serif;
  color: #2c2c2c;
  margin-bottom: 4px;
   font-size: 1.5rem;
}

.content-guide-content p {

  font-size: 1.2rem;
  line-height: 1.5;
  color: #333333;
  margin-bottom: 20px;
}

.content-guide-image {
  max-width: 50%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  align-items: center;
}

.close-content-guide-button {
  font-family: "MedievalSharp", cursive;
  background-color: #2c2c2c;
  color: #fdfdfd;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.close-content-guide-button:hover {
  background-color: #1a1a1a;
}
