@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English&family=MedievalSharp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&display=swap');

/* General Styles */
.mixing-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
    border-radius: 12px;
    padding: 5px;
  backdrop-filter: blur(6px); /* Background blur for depth */
}

.large-emoji {
    font-size: 3em; /* Increased size */

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    
    /* Glowing effect */
    color: #fff; /* White text color */
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8),
                 0 0 20px rgba(255, 255, 255, 0.8),
                 0 0 30px rgba(255, 255, 255, 0.8),
                 0 0 40px rgba(255, 165, 0, 0.8), /* Orange glow */
                 0 0 70px rgba(255, 165, 0, 0.8),
                 0 0 80px rgba(255, 165, 0, 0.8),
                 0 0 100px rgba(255, 165, 0, 0.8),
                 0 0 150px rgba(255, 165, 0, 0.8);
    
    /* Background and box shadow for contrast */
    background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent black background */
    border-radius: 50%; /* Circular background */
    padding: 0.2em;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7), /* Dark shadow for depth */
                0 0 30px rgba(255, 165, 0, 0.5); /* Orange shadow for glow effect */
}

.ingredient-list {
    position: relative;
    width: 100%;
    height: 100%;
}



.mixing-popup-content {
  background-color: rgba(45, 45, 45, 0.8);
  padding: 20px;
  border-radius: 12px;
  width: 80%;
  height: 98%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 50px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8);
  max-width: 1400px;
}

.mixing-header {
  font-family: "MedievalSharp", cursive;
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-bottom: 2px solid #8b8b8b;
  padding-bottom: 5px;
  margin-bottom: 5px;
  color: #e1cfa5;
  text-align: center;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.23);
}



.close-mixing-button {
  position: absolute;
    top: 20px;
    right: 120px;
    padding: 10px 12px;
    background-color: #ff4d4f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    z-index: 3000;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.close-mixing-button:hover {
  background-color: #ff1c1c;
  box-shadow: 0px 0px 20px rgba(255, 0, 0, 0.9);
}

.mixing-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 95%;
   border-radius: 12px;
}

.mix-button-container {
  margin-bottom: 20px;
  text-align: left;
}

.mix-button {
  background-color: #3b82f6;
  color: white;
  border: none;
  padding: 10px 24px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.3rem;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
  font-family: "MedievalSharp", cursive;
}

.mix-button.enabled:hover {
  background-color: #1d5a92;
  transform: scale(1.01);
  box-shadow: 0px 0px 15px rgba(0, 0, 255, 0.5);
}

.mix-button.disabled {
  background-color: #555;
  cursor: not-allowed;
  box-shadow: none;
}

/* Method Grid and Squares */
.method-grid {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
  background-color: rgba(58, 58, 58, 0.9);
  border-radius: 12px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  flex-wrap: wrap; /* Allow items to wrap to the next line if necessary */
  max-width: 100%; /* Ensure the grid stays within the container */
  box-sizing: border-box;
}

.method-square-container {
  flex: 1 2 20%; /* Allow squares to take up 23% of the container width */
  display: flex;
  flex-direction: column;
  padding: 2px;

  
}

.method-title {
  font-family: 'IM Fell English', serif;
  font-size: 1.2rem;
  color: #e1cfa5;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
  margin-bottom: 5px; /* Adjust spacing between title and square */
  text-align: left; /* Center the title */
}

.method-square {
  width: 300px;
  height: 300px;
  background-size: cover;
  border-radius: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.method-square:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
}

/* Hover, Click Caption Box */
.method-hover-box {
  display: none;
  position: fixed;
  bottom: 58%; /* Position the box at top of square */
  left: 50%;
  transform: translateX(-50%);
  width: 220px; /* Adjust the width as needed */
  background-color: rgba(45, 45, 45, 0.9);
  padding: 8px;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
  font-family: 'IM Fell English', serif;
  font-size: 1.3rem;
  color: #eaeaea;
  text-align: center;
  text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8);
  line-height: 1.1rem;
  z-index: 1001; /* Ensure it appears above other elements */
  pointer-events: none; /* Prevent the box from interfering with mouse events */
}

.method-square:hover .method-hover-box,
.method-square:focus .method-hover-box {
  display: block; /* Show the hover box on hover or focus */
}

/* Inventory Grid */
.inventory-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  padding: 10px;
  margin-top: 5px;
  background-color: rgba(68, 68, 68, 0.9);
  border-radius: 12px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
   height: auto; /* Set a fixed height for the grid */
  overflow-y: auto; /* Enable vertical scrollbar */
}

.mixing-inventory-item {
  background-color: #555;
  color: white;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100px; /* Slightly increase the height */
  text-align: left;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
  transition: background-color 0.2s ease, transform 0.2s ease;
  font-family: 'Nunito Sans', sans-serif;
  text-transform: uppercase;
  position: relative;
  overflow: visible; /* Ensure no content gets clipped */
}

.mixing-inventory-item:hover {
  background-color: #666;
  transform: scale(1.05);
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.5);
}

.inventory-item-emoji {
  font-size: 2em; /* Make the emoji slightly larger */
  margin-right: 10px; /* Ensure space between emoji and text */
  line-height: 1.3; /* Increase line height to avoid clipping */
  padding: 3px;
  flex-shrink: 0; /* Prevent the emoji from shrinking */
}

.inventory-item-text {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

}




/* Hover Popup for Inventory Items */

.mixing-hover-popup {
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(45, 45, 45, 0.9);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
  font-family: 'IM Fell English', serif;
  font-size: 1.2rem;
  color: #eaeaea;
  text-align: left;
  text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8);
  z-index: 1000;
  max-width: 600px;
  pointer-events: none;
}


/* Compound Result */
.compound-result {
    text-align: center;
    margin-top: 10px; /* Adjust the space from the header */
    padding: 12px;
    background-color: rgba(58, 58, 58, 0.9);
    border-radius: 12px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
    color: floralwhite !important;
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
      font-family: 'IM Fell English', serif;
      margin-bottom: 10px;
}

.compound-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
}



.compound-item .emoji {
  font-size: 5rem;
  margin-right: 10px;
  margin-left: 10px;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
  padding: 2px;
  flex-shrink: 0;
}



.mix-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-top: 0;  /* Adjusted margin to remove extra space */
    margin-bottom: 0; /* Adjusted margin to remove extra space */
    width: 100%;
}

.mix-button {
    background-color: #007bff; /* Blue color */
    color: white;
    border: none;
    padding: 12px 20px; /* Larger padding for glow effect */
    cursor: pointer;
    font-size: 18px; /* Larger font size */
    border-radius: 5px;
    flex: 1;  /* Allows this button to take more space */
    text-align: center;
    margin-right: 10px; /* Space between mix and reset button */
}

.mix-button.enabled {
    box-shadow: 0 0 15px 5px rgba(0, 123, 255, 0.6); /* Glow effect */
}

.reset-button {
    background-color: #28a745; /* Green color */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin-right: 10px; /* Space between reset and close button */
    flex: 0 0 auto; /* Prevents resizing, keeps its size fixed */
}


.reset-button:hover {
    background-color: #218838;
}


.mix-button.disabled {
    background-color: gray;
    cursor: not-allowed;
}

.mixing-popup-content {
    padding-bottom: 0; /* Removed padding */
}




/* Adjustments for Small Screens */
@media (max-width: 768px) {
  
  /* Mixing Popup Content */
  .mixing-popup-content {
    width: 100%;
    height: 98%;
    padding: 8px;
    max-height: 92vh; /* Ensure the content doesn’t exceed the viewport height */
    overflow-y: auto;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 0; /* Ensure it fits within the screen */
  }

  .large-emoji {
    font-size: 1.8em; /* Increased size */

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    
    /* Glowing effect */
    color: #fff; /* White text color */
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8),
                 0 0 20px rgba(255, 255, 255, 0.8),
                 0 0 30px rgba(255, 255, 255, 0.8),
                 0 0 40px rgba(255, 165, 0, 0.8), /* Orange glow */
                 0 0 70px rgba(255, 165, 0, 0.8),
                 0 0 80px rgba(255, 165, 0, 0.8),
                 0 0 100px rgba(255, 165, 0, 0.8),
                 0 0 150px rgba(255, 165, 0, 0.8);
    
    /* Background and box shadow for contrast */
    background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent black background */
    border-radius: 50%; /* Circular background */
    padding: 0.2em;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7), /* Dark shadow for depth */
                0 0 30px rgba(255, 165, 0, 0.5); /* Orange shadow for glow effect */
}

  /* Header Styling */
  .mixing-header {
    font-size: 1.2rem;
    margin-bottom: 2px;
    text-align: center;
  }

  /* Close Button Adjustments */
  .close-mixing-button {
    top: 10px;
    right: 10px;
    padding: 8px 12px;
    font-size: 0.9rem;
  }

  /* Method Grid */
  .method-grid {
    flex-wrap: wrap; /* Wrap the squares on smaller screens */
    gap: 4px;
    padding: 12px;
    max-width: 100%;
    display: flex;
    justify-content: space-between; /* Distribute the squares evenly */
    overflow-y: auto;
  }

  /* Method Square Containers */
  .method-square-container {
    flex: 0 0 58%; /* Ensure better distribution for small screens */
    width: 100%; /* Full width */
    max-width: 140px; /* Max width adjusted for smaller screens */
    margin-bottom: 5px; /* Add spacing below */
  }

  /* Method Title Adjustments */
  .method-title {
    font-size: 1rem;
  }

  /* Method Squares Adjustments */
  .method-square {
    width: 130px;
    height: 120px;
  }

  /* Inventory Grid Adjustments */
  .inventory-grid {
    grid-template-columns: repeat(2, 1fr); /* Two columns for better fit */
    gap: 8px; /* Space between items */
    padding: 10px;
    max-height: 200px; /* Adjusted height */
    overflow-y: auto;
    max-width: 100%; /* Ensure grid fits within the screen */
  }

  /* Inventory Item Adjustments */
  .mixing-inventory-item {
    height: 60px;
    font-size: 0.85rem;
    text-align: center;
  }

  /* Hover Popups - Disable on Mobile */
  .method-hover-box,
  .mixing-hover-popup {
    display: none !important; /* Disable hover popups on mobile */
  }

  /* Compound Result Adjustments */
  .compound-result {
    text-align: center;
    margin-bottom: 10px;
    padding: 12px;
    background-color: rgba(58, 58, 58, 0.9);
    border-radius: 12px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
    color: floralwhite;
    max-width: 90%;
    font-family: 'IM Fell English', serif;
    font-size: 0.8rem;
    overflow-y: auto;
  }

  .mixing-inventory-item {
    background-color: #555;
    color: white;
    padding: 5px;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    text-align: center;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
    transition: background-color 0.2s ease, transform 0.2s ease;
    font-family: 'Nunito Sans', sans-serif;
    text-transform: uppercase;
    font-size: 0.9rem;
  }
  
  /* Adjustments for buttons */
  .mix-button-container {
    margin-top: 10px;
    text-align: center; /* Center align buttons */
  }
}


.mixing-container.loading {
  animation: glow 2s infinite ease-in-out;
  background-color: rgba(45, 45, 45, 0.9); /* Adjust as needed */
}

/* Loading Animation */
@keyframes glow {
  0% {
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.2); /* Lighter orange */
  }
  50% {
    box-shadow: 
      0 0 20px rgba(255, 140, 0, 0.7),  /* Darker orange */
      0 0 40px rgba(255, 215, 0, 0.5),  /* Yellow-gold */
      0 0 60px rgba(255, 69, 0, 0.3);   /* Redder orange-amber */
  }
  100% {
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.2); /* Lighter orange */
  }
}

.mixing-container.loading {
  animation: glow 3s infinite ease-in-out;
}
